<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016
                <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates"></a>. Seu Traje
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="\">Home</a></li>
                    <li><a href="\traje">Trajes</a></li>
                    <li><a href="\cadastro">Cadastro</a></li>
                    <li><a href="\contato">Fale conosco</a></li>


                </ul>
            </div>

        </div>
    </div>
</footer>
<!--/#footer-->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/wow.min.js"></script>

</body>

</html>
