<% include header %>

<section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">

                <div class="item active" style="background-image: url(/images/Imagemppt.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <center><h1 class="animation animated-item-1">Bem Vindos ao Seu Traje</h1></center>
                                    <center><h3 class="animation animated-item-2">Ache seu traje para seu evento especial.</h3></center>
                                    <center><a class="btn-slide animation animated-item-3" href="\traje">Procure por seu traje</a></center>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            <div class="download-container">

                                    </div>
                                    </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/images/Imagemppt.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Seu Traje
</h1>
                                    <h2 class="animation animated-item-2">Um site prático para econimizar seu tempo.</h2>
                                    <a class="btn-slide animation animated-item-3" href="\traje">Procure por seu traje</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/images/Imagemppt.png)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Seu Traje</h1>
                                    <h2 class="animation animated-item-2">Conheça nossas ofertas</h2>
                                    <a class="btn-slide animation animated-item-3" href="\traje">Procure por seu traje</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Quem somos e o que é o Seu Traje? </h2>
                <p class="lead">O Seu Traje foi criado por um grupo estudantil. Somos o grupo System Medics, surgimos em um curso técnico de desenvolvimento de sistemas, com o objetivo de otimizar a procura de produtos.<br> O Seu Traje foi criado justamente para esse intuito, ajudar na procura de trajes a rigor.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">

                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->

    <!--
  IMPORTANT: To Include this File

   Click 'Menu' button at the top and select 'Copy Link'
-->



 <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>System Medics</h3>
                        <ul>
                            <li><a href="/contato">Sobre nós</a></li>
                            <li><a href="#">Time</a></li>
                        </ul>
                    </div>

                </div><!--/.col-md-3-->
                <div class="TextoSobre">

                        <p>System Medics é um grupo de tcc do curso técnico(Turma 2016) da fundação bradesco, que devido a dificuldade em que as pessoas enfrentam para encontrar um traje a rigor, tivemos a ideia de criar um aplicativo que aumentasse a facilidade na procura do traje e diminuisse o tempo perdido.</p>

                </div><!--/.col-md-3-->

            </div>
        </div>
    </section><!--/#bottom-->



<% include footer %>
