<% include header %>



<section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Trajes</h2>
                <p class="lead">Procure o seu traje perfeito para sua ocasião especial. <br> Faça da sua noite a mais bela de todas.</p>
            </div>

        <div class="center wow fadeInDown">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/homem1.png" alt="Homem com terno">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="/traje1">Terno Cinema</a> </h3>
                                <p>Feito pelo melhor alfaiate da cidade, com um corte impecavel. Tamanhos: 42, 44, 46.</p>
                                <a class="preview" href="/images/homemm1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/vestidoo7.png" alt="Vestido Verde">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="/traje2">Vestido Jad </a></h3>
                                <p>O Vestido Jad está disponivel apenas na cor verde, com a barra sereia. Tamanhos: 38, 40, 42 </p>
                                <a class="preview" href="/images/vestido7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/homem2.png" alt="Homem com colete">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="/traje3">Colete Básico</a></h3>
                                <p>Colete com costura e corte maravilhosos, no aluguel do colete você leva a calça. Tamanhos: 40, 42, 44, 46.</p>
                                <a class="preview" href="/images/homemm2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/vestidoo1.png" alt="Vestido Curto - Vermelho">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="/traje4">Vestido Rub</a></h3>
                                <p>Vestido Rub está disponivel apenas na cor vermelha. Tamanhos: 38 e 40</p>
                                <a class="preview" href="/images/vestido1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/vestidoo.png" alt="Vestido Longo - Preto">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="/traje5">Vestido Divaa</a></h3>
                                <p>O Vestido Divaa é da cor preta. Tamanhos: 36, 38, 42. Fazemos ajustes.</p>
                                <a class="preview" href="/images/vestidoo.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/homemm3.png" alt="Terno Azul">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="/traje6">Terno BlueMag</a></h3>
                                <p>O terno BlueMag é da cor azul e é slim. Tamanhos: 42, 44, 46. Fazemos ajustes.</p>
                                <a class="preview" href="/images/homemm3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/vestido3(1).png" alt="Vestido Justo - Preto">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Vestido BlackJus</a></h3>
                                <p>O Vestido BlackJus é da cor preta. Tamanhos: 36, 38, 42. Fazemos ajustes.</p>
                                <a class="preview" href="/images/vestido3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/images/vestidoo2.png" alt="Vestido Rosé">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Vestido Rosé</a></h3>
                                <p>O Vestido Rosé é da cor rosa escurecido. Tamanhos: 38, 42, 44.</p>
                                <a class="preview" href="/images/vestido2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Dê uma olhada</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->



    <% include footer %>
